@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
	width:100%;
	height:100%;
	font-weight:400;
}

br {
	display:none;
}

hr {
	margin-top:0;
	margin-bottom:0;
}

.kr {
	font-family: 'Nanum Gothic', sans-serif;
}

img {
	width:100%;
}

.myButton {
  background: #7bcab4;
  background-image: -webkit-linear-gradient(top, #7bcab4, #74b8a5);
  background-image: -moz-linear-gradient(top, #7bcab4, #74b8a5);
  background-image: -ms-linear-gradient(top, #7bcab4, #74b8a5);
  background-image: -o-linear-gradient(top, #7bcab4, #74b8a5);
  background-image: linear-gradient(to bottom, #7bcab4, #74b8a5);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  border:none;
  font-weight:700;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.myButton:hover {
  background: #89d6c0;
  background-image: -webkit-linear-gradient(top, #89d6c0, #7bcab4);
  background-image: -moz-linear-gradient(top, #89d6c0, #7bcab4);
  background-image: -ms-linear-gradient(top, #89d6c0, #7bcab4);
  background-image: -o-linear-gradient(top, #89d6c0, #7bcab4);
  background-image: linear-gradient(to bottom, #89d6c0, #7bcab4);
  text-decoration: none;
}

.jumbotron .img-responsive {
	width:100%;
	min-width:100%;
	height:auto;
}

.jumbotron {
/*	border-top:5px solid #7bcab4;
	border-bottom:5px solid #7bcab4;*/
	padding-top: 0;
	padding-bottom: 0;
	overflow:hidden;
	margin-bottom:0;
}

.jumbotron img {
	transition:transform 1s ease-in-out;
}

.jumbotron .jumboInfo {
	position:absolute;
	top:30px;
}

.jumbotron .jumboInfo h1 {
	
	margin-top:0;
	font-size:1.5em;
	padding-left:30px;
	letter-spacing: 0.025em;
	font-weight:700;
	color:white;
	text-shadow: 1px 1px 1px #4f4f4f;
}

body {
	color:#838384;
	font-family: 'PT Sans', sans-serif;
	font-size:18px;
	/*background-color: #6cad99;*/
	line-height:1.4em;
}

nav {
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
}

nav #logo, nav #logoType {
	text-align:center;
}

nav #logo #svgLogo {
	margin-top:-5px;
	max-width:80px;
	height:auto;
	display:inline-block;
}

nav #logoType #svgLogoType {
	margin-left:2.5px;
	margin-top:-40px;
	display:inline-block;
	max-width:140px;
	height:auto;	
}

section .intro h3 {/*
	text-align:center;*/
}

section#about .intro h3 {
/*	text-align:center;*/
	font-size:1.3em;
	font-weight:700;
	color:#7bcab4;
	border:none;
	margin-top:40px;
}

section#services .intro h3 {
	/*text-align:center;*/
	font-size:1.3em;
	font-weight:700;
	color:#323232;
	border:none;
	margin-top:40px;
}


	.servicesDiv {
		background-color: rgba(123,202,180,0.8);
	}

	.servicesDiv .entry.icon img{
		max-width:300px;
	}

	.entry h4 {
		font-weight:700;
		font-size:1.5em;
		text-align:center;
	}

section.bg-mint .entry h4 {
	color:#323232;
	font-weight:700;
}

section#testimonials .intro h3 {
	/*text-align:center;*/
	font-size:1.3em;
	font-weight:700;
	color:#7bcab4;
	border:none;
	margin-top:40px;
}

section#interested .intro h3 {
	/*text-align:center;*/
	font-size:1.3em;
	font-weight:700;
	color:#7bcab4;
	border:none;
	margin-top:40px;
}

section#interested .form {

	padding-top:20px;
	padding-bottom:20px;
	transition:background-color 1s ease;
}

section#interested .form.submitted {
	background-color:#7bcab4;
}

section#interested .form form .ss-form-entry {
	margin-top:20px;
	margin-bottom:20px;
}

section#interested .form form .ss-form-entry label {
	letter-spacing: 0.05em;

}

section#interested .form form .ss-form-entry input[type="text"],
section#interested .form form .ss-form-entry input[type="email"],
section#interested .form form .ss-form-entry select  {
	border-radius:5px;
	border:1px solid #7bcab4;
	padding-left:5px;
	padding-bottom:8px;
	font-size:0.9em;
}

section#interested .form form .ss-form-entry input[type="text"]:focus,
section#interested .form form .ss-form-entry input[type="email"]:focus,
section#interested .form form .ss-form-entry select:focus{
	outline-color:#7bcab4;
	outline-width:2px;
}

section#interested .form form .ss-form-entry textarea {
	width:100%;
	border-radius:5px;
	border:1px solid #7bcab4;
	padding-left:5px;
	height:100px;
}

section#interested .form .submittedMessage {
	text-align:center;
	font-weight:700;
	padding-top:200px;
	padding-bottom:200px;
	color:white;
}

section#interested .form .submittedMessage img{
	display:inline-block;
	margin:20px 0;
	max-width:200px;
}

span.ss-required-asterisk {
	color:#7bcab4;
}



section {
	/*border-radius: 10px;*/
	padding-top:50px;
	padding-bottom:50px;
}

section.card {
	padding-top:0;
	padding-bottom:0;
}

section.card {
	/*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
}

section.bg-white {
	background-color: white;
}

section.bg-white h3 {
	color:#7bcab4;
	border-bottom:1px solid #afafaf;
}

section.bg-mint {
	background-color: rgba(123,202,180,1);
}

section.bg-mint h3 {
	color:#323232;
	border-bottom:1px solid #fff;	
}

section.bg-mint p {
	color:#fff;
}

section .intro p {
	font-weight:500;
	line-height:1.5em;
}

section.bg-white .entry.intro {
	background-color: rgba(150,255,120,0.1);
}

section.bg-mint .entry.intro {
	background-color: rgba(255,255,255,0.15);
}

section.bg-mint hr {
	border-color:rgba(255,255,255,0.4);
}

section .icon {
	padding-top:10px;
	padding-bottom:20px;
	text-align:center;
}

section .icon img{
	display:inline-block;
	width:100%;
}

section#about .icon img{
	display:inline-block;
	width:100%;
}

section .icon h4 {
	text-align:center;
	margin-top:-10px;
	font-size:1em;
}

/*section#rtm .intro>div {

	font-size:1em;
	font-style: italic;	
}*/





.row header {
/*	margin-top: -40px;*/
	background-color: #4f4f4f;
	padding-bottom: 5px;
	border-bottom: 5px solid #323232;
	/*border-radius: 10px;*/

	text-align:center;
}

.row header h2 {

	font-weight:700;
	color:white;
/*	margin-left:15px;*/
	margin-top:20px;
	font-size:1.3em;
	margin-bottom:15px;
	letter-spacing: 0.10em;
}



.row .entry br {
/*	display:none;*/
}

.row .entry {
	background-color: inherit;
	position:relative;
	padding-left:30px;
	padding-right:30px;

}

.row .entry h3 {/*
	width:55%;*/
	font-size:1.7em;
	font-weight:700;	
	margin-top:50px;
	letter-spacing:0.04em;
}

.row .entry p {
	font-size:0.85em;
	margin-top:40px;
	margin-bottom:50px;	
	letter-spacing:0.01em;
}

.row .entry.helper {
	margin-bottom:40px;
	margin-top:40px;
}

.row .entry.helper p {
	margin-top:20px;
	margin-bottom:20px;
}


.row .entry ul {
	border-radius:15px;
	border: 4px solid white;
	font-size:0.9em;
	color:white;
	margin-bottom:50px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}

.row .entry ul li {
	margin:10px 0;
	font-size:0.8em;
	font-weight:700;
}

.row .entry .icon {
	position:absolute;
	right:40px;
	top:30px;
	width:25%;
	max-width:150px;
}

.splash {
	background-color: #7bcab4;
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	text-align:center;
}

.splash #Layer_1 {
	display:inline-block;
	position:relative;
	width:40%;
	max-width:350px;
	top:50%;
	margin-top:-250px;
	margin-left:-20px;
}

.inspiration {
	text-align:center;
	font-size: 1em;

	letter-spacing: 0.03em;
}

.inspiration span{
	font-weight: 700;
}

footer {
	margin-top: 50px;
	background-color: #323232;
	height:400px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	br.sm {
		display:inline;
	}

	.inspiration {
		font-size: 1.3em;

	}	

	section .intro h3 {
		padding-bottom:40px;
		text-align:left;
	}

	.servicesDiv {
		padding:40px 0;
	}

	.servicesDiv .entry {
		height:400px;
		height:auto;
	}


	.servicesDiv .entry.icon {
		padding-top:50px;
	}

	.vertAlign {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.jumbotron .jumboInfo h1 {
		margin-top:60px;
		font-size:2em;
		letter-spacing: 0.05em;
		
	}

	.row {
		height:auto;
	}

	.row header {
		border-radius: 2px;
	}

	.row header h2 {
		margin-top:10px;
		margin-bottom:5px;
		font-size:1.2em;
		letter-spacing: 0.15em;
		text-align:left;
	}

	section, section.card {
		height:auto;
		padding-top:50px;
		padding-bottom:50px;
	}

	section.card > div {
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

	section .container {
		border-radius: 2px;
	}

	nav #logo {
		max-width:110px;
	}	

	nav #logoType #svgLogoType {
		max-width:150px;
		height:auto;
		margin-top:-8px;
		margin-left:-150px;
	}

}

/* temps */

.form img {
	width:100%;
}

.gallery img {
	width:100%;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	section .icon h4 {
		text-align:center;
		margin-top:-10px;
		font-size:1.2em;
	}

	section#about .icon img{
		display:inline-block;
		width:70%;
	}

	section {
		/*border-radius: 10px;*/
		padding-top:90px;
		padding-bottom:100px;
	}

	.row header {
/*		margin-top:-90px;*/
	}

	.row .entry br {
		display:inline;
	}

	nav #logoType #svgLogoType {
		margin-left:-215px;
	}

	.jumbotron {
		height:400px;
	}

	.jumbotron img {
		transform: translateY(-50px);
		/*margin-top:-50px;*/
	}



}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


	nav #logoType #svgLogoType {
		margin-left:-280px;
	}

	.jumbotron img {
		margin-top:-100px;
	}

	section#interested .form {

		padding-top:40px;
		padding-bottom:80px;

	}

}

/* X-Large devices (xlarge desktops, 1500px and up) */
@media (min-width: 1600px) {


	.jumbotron img {
		/*margin-top:-200px;*/
		transform: translateY(-150px);
	}


}

